# ==========================================
# TALÉ HOTEL SECURE ENVIRONMENT VARIABLES
# Rename this file to `.env` and fill it out
# ==========================================

# 1. MongoDB Database
MONGO_URI=mongodb://localhost:27017/tale_hotel

# 2. Authentication Tokens
JWT_SECRET=super_secret_jwt_key_tale_123

# 3. Cloudinary Assets 
# Needed to fix the [401 Unauthorized] Upload Errors
CLOUDINARY_CLOUD_NAME=david samy
CLOUDINARY_API_KEY=343492392676464
CLOUDINARY_API_SECRET=jgHcRiXQgkmMzOJv6OSyS8BsnR0

# 4. PayMob API (Checkout Integration)
PAYMOB_API_KEY=your_paymob_key
HMAC_SECRET=your_paymob_hmac
